/* Reset CSS */
* {
    /* emmet: viết nhanh */
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    /* DU ntn vẫn ko bị tràn border-box */
}
/* 
 Vị trí của nó 
 Kích thước(width,height)
 Màu sắc 
 Kiểu dáng (Kiểu chữ, hình tròn, vuông,..)
*/
/* 
 Làm từ ngoài vào trong 
 Từ trên xuống dưới
 Tổng quan đến chi tiết
*/
/*  
 Navigation dùng thẻ <ul><li>
*/
#main {
}
   

#header {
    height: 46px;
    background-color: #000;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1;
    max-width: calc(100%-32px);
    /* #000 màu đen
    #fff màu trắng 
    line-height: chiều cao cho chứ
    font-family:xét kiểu chữ
    KO có chân Arial có chân Time Roma
    html kế thừa từ thẻ có chữ còn * thì tất cả
    chọn thẻ rồi ghi hover
    */
}
#header #nav{
    display: inline-block;
}
#header .search{
    float: right;
    padding: 0 24px;
    cursor: pointer;
}
#header .search:hover{
    background-color: red;
}
#header .search-arrow{
     color: #fff;
     font-size: 20px;
     line-height: 46px;
     
}
html {
    font-family: Arial, Helvetica, sans-serif;
}
#nav {

}
#nav > li {
    display: inline-block;
    position: relative;
    
}

#nav > li > a {
    color: #fff;
    text-transform: uppercase;
}
#nav li a{
    
    text-decoration: none;
    line-height: 46px;
    padding: 0 24px;
    display: inline-block;
    width: 100%;
}
#nav > li:hover > a, #nav .subnav  li:hover a {
    color: #000;
    background-color: #ccc;
    
}
#nav, .subnav{
    list-style-type: none;
}

#nav .subnav {
    display: none;
    position: absolute;
    top: 100%;
   background-color: #fff;
    box-shadow: 0 0 10px rgba(0
    , 0, 0, 0.3);
}

#nav li:hover .subnav{
    display: block;
}
#nav .icon-arrow{
    font-size: 12px;
}
#nav .subnav a{
    color: #000;
    padding: 0 12px;
    
}

.text-white{
    color: #fff !important;
}
#slider {
    /* background-color: #333; */
    min-height: 500px;
    margin-top: 46px;
    padding-top: 50%;
    background: url(/assets/img/slider/slider1.webp) top center/ cover no-repeat;
}
#slider .text-content{
    position: absolute;
   
    bottom: 35px;
    /* left: 50%;
     transform: translateX(-50%);  */
    text-align: center;
    color: #fff;
    font-size: 25px;
    width: 100%;
    display: block;
  
}

#slider .text-heading{
 font-weight: 100;
 margin-bottom: 25px;
}
text-describ{

}
#content{
    height: 300px;
}

#content .content-section{
    
    text-align: center;
}
#content .content-heading{
     margin-top: 40px;
     margin-bottom: 20px;
}
#content .content-pragrap{
     margin: 10px 0;
     font-style: italic;
     opacity: 0.6;
}
#content .content-des{
   text-align: justify;
   padding: 10px 200px;
   line-height: 30px;
}
#content .team-member img{
    height: max-content;
    width: 150px;
      border: 1px  solid #cccd;
    border-radius: 5px;
    margin-top: 20px;
}

#content .team-list{
    
   display: flex;
   flex-direction: row;
   justify-content: center;
   align-items: center;
   gap: 100px;
  
}
#content .tour-section{
   background-color: #000;
   height: 800px;
   margin-top: 30px;
   padding-top: 20px;
}
/* .ticket-list{
    background-color: #fff;
    margin: 30px 50px;
    display: flex;
    flex-direction: column;
    align-items: start;
    padding: 20px 20px;
    list-style-type: none;
    gap: 15px;
} */
.ticket-list .sold_out{
    margin-left: 15px;
    background-color: #ff0000;
}
.ticket-list {
    margin: 0 200px;
}
.ticket-list  .quantity{
    float: right;
    width: 24px;
    height: 24px;
    text-align: center;
    line-height: 24px;
    border-radius: 50%;
    background-color: #000;
    color: #fff;
    margin-top: -2px;
}
.ticket-list li {
    border-bottom: 1px solid #ccc;
    text-align: left;
   color: #000;
    background-color: #fff;
    padding: 15px 20px;
    margin: 0 100px;
    
}
.place-item img {
    height: 200px;
    width: 100%;
}
.place-item img:hover{
    opacity: 0.6;
}
.place-list{
    display: flex;
    justify-content: center;
    padding: 50px;
    gap: 30px;
}
.place-list .place-item{
    border: 2px solid #ccc;
    color:#000;
    background-color: #fff;
    height: 360px;
    width: 250px;
}
.place-list .place-content{
    text-align: start;
    padding-left: 10px;
}
.place-content .place-heading{
   padding: 5px;
   font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.place-content .place-time{
  padding: 5px;
  color:#757575;
}
.place-content .place-des{
  padding: 5px;
  margin-bottom: 5px;
}
.place-content .place-buy{
    text-decoration: none;
    border: 1px solid #000;
    color: #fff;
    background-color: #000;
    margin-bottom: 20px;
    margin-left: 5px;
    padding: 5px 5px;;
}
.place-content .place-buy:hover{
    color: #000;
    background-color: #ccc;
}
.modal {
    position: fixed;
    right: 0;
    top: 0;
    left: 0;
    bottom: 0;
   display: none;
   align-items: center;
   justify-content: center;
}
.modal.open{
    display: flex;
}
.modal .modal-container{
    background-color: #fff;
    min-height: 200px;
    width: 900px;
    max-width: calc(100%-32px);
    position: relative;
    animation: anima ease 0.5s;
}
.close-modal{
    position: absolute;
    right: 0;
    top: 0;
    padding: 12px;
    cursor: pointer;   
}
.close-modal:hover{
    background-color: red;
}
.heading-modal{
    color: #fff;
    font-size: 30px;
    background-color: #1fb7c5;
    height: 101px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
   
}

.body-modal{
  padding: 16px;
}
.modal-lable{
    display: block;
    font-size: 15px;
    padding: 10px;
    font-weight: 700;
}
.input-modal{
    border: 1px solid#ccc;
    width: 100%;
    padding: 10px;
    
}
.pay-ticket{
    width: 100%;
     background-color: #14af5a;
     height: 40px;
     margin-top: 10px;
     text-transform: uppercase;
     font-size: 15px;
     cursor: pointer;
}
.pay-ticket:hover{
    background-color: violet;
    color:aqua;
}
.modal-footer{
 padding: 16px;
   text-align: right;
} 
.modal-footer a{
     color: aqua;
}
@keyframes anima{
    from{
        opacity: 0;
       transform: translateY(-100px);
    }
    to{
        opacity: 1 ;
      transform: translateY(0);
    }
    
}
.content-section{
    height: 500px;
}
.inf-contact {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 150px;
    height: 200px;
   margin: 0 200px;
}
.inf-content{
     display: flex;
     flex-direction: column;
     align-items: last baseline;
     gap: 10px;
    width: 200px;
}
.inf-content i{
     font-weight: 600;
}
.send-contact{
    position: relative;
    height: 100px;
    width: 600px;
  
}
.send-contact .name{
    position: absolute;
    top: 0;
    left: 0;
    height: 30px;
}
.send-contact .email {
     position: absolute;
    top: 0;
    left: 200px;
     height: 30px;
}
.send-contact .mess{
    position: absolute;
    top: 40px;
    left: 0;
    width: 365px;
     height: 30px;
}
.send-contact .send{
    position: absolute;
   bottom: 0;
    right: 40%;
     height: 25px;
     width: 40px;
     background-color: #000;
     color: #fff;
}
.back-ground {
  background: url('/assets/img/place/back-ground.jpg') top center/ cover no-repeat;

  height: 1000px;
  width: 100%;
}
#footer {
  background-color: #333;
  height: 100px;
  color: white;
  text-align: center;
}

.inf-footer {
  padding: 20px;
}